<?xml version="1.0" encoding="utf-8" ?>
<Analyzers>
  <ValidTypes>
    <ValidType>CoreSharp.DataAccess.IEntity</ValidType>
    <ValidType>CoreSharp.DataAccess.ICodeList</ValidType>
  </ValidTypes>

  <VirtualModifierAnalyzer>

  </VirtualModifierAnalyzer>
  <PropertyOrderAnalyzer>

  </PropertyOrderAnalyzer>
</Analyzers>
